<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Page</title>
    <!--<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>-->
    <!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" href="css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="container">
    <h2 class="form-login-heading">ログイン画面</h2>
    <div th:if="${param.error}">
        IDまたはパスワードが違います
    </div>
    <div th:if="${param.logout}">
        ログアウトしました
    </div>
    <form id="login-form" th:action="@{/login}" method="post" autocomplete="off">
        <label for="loginId" class="sr-only">ID: </label>
        <input type="id" id="loginId" name="loginId" class="form-control" placeholder="ログインID" required autofocus>
        <label for="password" class="sr-only">PW: </label>
        <input type="password" id="password" name="password" class="form-control" placeholder="パスワード" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me">ログイン情報の記憶
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
    </form>
</div> <!-- /container -->
</body>
</html>